<div class="row navbar-clearance">
  <div class="btn-group" role="group" aria-label="FilterButtons">
 <%= link_to 'My Created',groups_path(:request_type => 'MyGroups'), :class => is_active?("MyGroups")  %>
    <%= link_to 'Subscribed',groups_path(:request_type => 'Subscribed'), :class => is_active?("Subscribed")  %>
    <%= link_to 'All Groups',groups_path(:request_type => 'All'), :class => is_active?("All")  %>
  </div>
  <hr/>
</div>
<div class="row">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= link_to 'Create Group',new_group_path, class: "btn btn-default btn-sm" %>
      <br/>
      <br/>
      <table class="table">
        <tr>
          <th>Group</th>
          <th>Actions</th>
        </tr>
        <% @group.each do |g| %>
          <tr>
            <td><%= link_to(g.name, group_path(g)) %></td>
            <td>
              <% if g.subscriber_ids.include? current_user.id %>
                <%= link_to '', subscribe_group_path(g, request_type: params[:request_type], perform: 'Remove'), method: :post,class: "btn btn-default btn-sm glyphicon glyphicon-ok added-to-cal", title: "Click to unsubscribe from this group."  %>
              <% else %>
                <%= link_to '', subscribe_group_path(g, request_type: params[:request_type], perform: 'Join'), method: :post,class: "btn btn-default btn-sm glyphicon glyphicon-plus", title: "Click to subscribe to this group."  %>
              <% end %>
            <% if g.user_id == current_user.id %> 
               <%= link_to '',edit_group_path(g),class: "btn btn-default btn-sm glyphicon glyphicon-pencil", title: "Edit" %>
               <%= link_to '',group_path(g),method: :delete, data: {confirm: 'Are you sure?'},class: "btn btn-default btn-sm glyphicon glyphicon-trash", title: "Delete" %>
           <% end %>
           </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
