<div class="row navbar-clearance">
  <div class="btn-group" role="group" aria-label="FilterButtons">
    <%= link_to 'My Created',groups_path(:request_type => 'MyGroups'), class: "btn btn-default" %>
    <%= link_to 'Subscribed',groups_path(:request_type => 'Subscribed'), class: "btn btn-default" %>
    <%= link_to 'All Groups',groups_path(:request_type => 'All'), class: "btn btn-default" %>
  </div>
  <hr/>
</div>
<div class="row">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= link_to 'Create Group',new_group_path, class: "btn btn-default btn-sm" %>
      <br/>
      <br/>
      <table class="table">
        <tr>
          <th>Group</th>
          <th>Actions</th>
        </tr>
        <% @group.each do |group| %>
          <tr>
            <td><%= link_to(group.name, group_path(group)) %></td>
            <td>
            <% if group.user_id == current_user.id %> 
               <%= link_to '',edit_group_path(group),class: "btn btn-default btn-sm glyphicon glyphicon-pencil"%>
               <%= link_to '',group_path(group),method: :delete, data: {confirm: 'Are you sure?'},class: "btn btn-default btn-sm glyphicon glyphicon-trash" %>
           <% end %>
           </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
