<div class="row navbar-clearance">
  <div class="panel panel-default webform">
    <div class="panel-heading">
      <h4><%= "Group Details" %></h4>
    </div> 
    <div class="panel-body">
      <div class="form-group">
        <h6><b><%= "Name:" %></b></h6>
        <%= @group.name %>
      </div>
      <div class="form-group">
        <h6><b><%= "Description:" %></b></h6>
        <%= @group.description %>
      </div>
      <%= link_to 'Back',groups_path, class: "btn btn-primary" %>
    </div> <!--panel-body-->
  </div> <!--panel-->
</div> <!--row-->
