<!-- <ul class="nav nav&#45;tabs"> -->
<!--   <li class="active"><a data&#45;toggle="tab" href="#home">All Events</a></li> -->
<!--   <li><a data&#45;toggle="tab" href="#menu1">Subscribed</a></li> -->
<!--   <li><a data&#45;toggle="tab" href="#menu2">Attending</a></li> -->
<!-- </ul> -->

<div class="row">
  <div class="btn-group" role="group" aria-label="FilterButtons">
    <%= link_to 'All Events',root_path(:request_type => 'All'), class: "btn btn-default" %>
    <%= link_to 'Subscribed',root_path(:request_type => 'Subscribed'), class: "btn btn-default" %>
    <%= link_to 'Attending',root_path(:request_type => 'Attending'), class: "btn btn-default" %>
  </div>
  <hr/>
</div>

<div class="row">
  <div class="col-xs-9">
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h3 id="month">
          <%= link_to "<", date: @date.prev_month %>
          <%= @date.strftime("%B %Y")%>
          <%= link_to ">", date: @date.next_month %>
        </h3>

        <div id="article">
          <%= calendar @date do |date| %>
		        <%= date.day %>
	          <% if @event_by_date[date]%>
			        <ul>
				        <% @event_by_date[date].each do |event|%>
			            <li><%= event.title %></li>
				        <% end %>
			        </ul>
		        <% end %>
          <% end %>
        </div>
      </div>

      <div id="menu1" class="tab-pane fade">
	      <h3 id="month">
	        <%= link_to "<", date: @date.prev_month %>
    	    <%= @date.strftime("%B %Y")%>
          <%= link_to ">", date: @date.next_month %>
        </h3>
        <div id="article">
	        <%= calendar @date do |date| %>
		        <%= date.day %>
		          <% if @event_by_date[date]%>
			          <ul>
				          <% @event_by_date[date].each do |event|%>
				           <li><%= event.title%></li>		
				          <% end %>
			          </ul>
		          <% end %>
	        <% end %>
        </div>
      </div>

      <div id="menu2" class="tab-pane fade">
	      <h3 id="month">
	        <%= link_to "<", date: @date.prev_month %>
	        <%= @date.strftime("%B %Y")%>
          <%= link_to ">", date: @date.next_month %>
        </h3>
        <div id="article">
	        <%= calendar @date do |date| %>
	          <%= date.day %>
		        <% if @event_by_date[date]%>
			        <ul>
				        <% @event_by_date[date].each do |event|%>
				          <li><%= event.title%></li>		
				        <% end %>
			        </ul>
		        <% end %>
	        <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <%@public_event.each do |eve|%>
      <h3><%=link_to(eve.title, event_path(eve.id))%></h1>
      <p><%=eve.description%></p>
      <p><span class="glyphicon glyphicon-home">&nbsp</span><%=eve.location%></p>
      <p><span class="glyphicon glyphicon-time">&nbsp</span><%=eve.datetime.strftime("%b %dth %Y %I:%M%P")%></p>
      <p><%=eve.link%></p>
      <hr>
    <%end%>
  </div>
</div>
</div>
