    <%= form_for :event, url: event_path(@event), method: :PATCH do |f| %>
       <% if @event.errors.any? %>
    	<div id="error_explanation">
      	<h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
	        this event from being saved:
     	 </h2>
      	<ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      	</ul>
    	</div>
    <% end %>	
<div class="panel panel-default">
   <div class="panel-heading">
    <h4><%= "Edit Event" %></h4>
  </div>

   <div class="panel-body">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :access_type %>
        <%= f.text_field :access_type, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br />
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :datetime %>
        <%= f.text_field :datetime, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :link %>
        <%= f.text_field :link, class: "form-control" %>
      </div>
      <%= f.submit :default => "Save event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
