<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<div class="row navbar-clearance">
 <div class="btn-group" role="group" aria-label="FilterButtons">
   <%= link_to 'Created',events_path(:request_type => 'MyEvents'),:class => is_active?("MyEvents") %>
    <%= link_to 'Attending',events_path(:request_type => 'Attending'),:class => is_active?("Attending") %>
    <%= link_to 'Subscribed',events_path(:request_type => 'Subscribed'), :class => is_active?("Subscribed") %> 
    <%= link_to 'All Events',events_path(:request_type => 'All'), :class => is_active?("All")  %>
  </div>
  <hr>
</div>
<div class="row">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= link_to 'Create Event',new_event_path, class: "btn btn-default btn-sm" %>
      <br/>
      <br/>
      <table class="table">
        <tr>
          <th>Event</th>
          <th>Date &amp; Time</th>
          <th>Location</th>
          <th>Group</th>
          <th>Actions</th>
          <th>Share/Add</th>
        </tr>
        <% if @events.nil? %>
        <%else%>
          <% @events.each do |e| %>
            <tr>
              <td><%= link_to e.title,event_path(e) %></td>
              <td><%= e.datetime.strftime("%b %dth %Y %I:%M%P") %></td>
              <td><%= e.location %></td>
              <td><%= e.group.blank? ? "" : link_to(e.group.name, group_path(e.group)) %></td>
              <td>
                <% if e.attendee_ids.include? current_user.id %>
                  <%= link_to '', attend_event_path(e, request_type: params[:request_type], perform: 'Remove'), method: :post,class: "btn btn-default btn-sm glyphicon glyphicon-ok added-to-cal", title: "Click if you have changed plans, and don't want to attend this event."  %>
                <% else %>
                  <%= link_to '', attend_event_path(e, request_type: params[:request_type], perform: 'Join'), method: :post,class: "btn btn-default btn-sm glyphicon glyphicon-plus", title: "Click if you want to attend this event. Can be viewed in the 'Attending' tab of calendar home page."  %>
                <% end %>
                  <% if e.user_id == current_user.id %>
                    <%= link_to '',edit_event_path(e),class: "btn btn-default btn-sm glyphicon glyphicon-pencil", title: "Edit"%>
                    <%= link_to '',event_path(e),method: :delete, data: {confirm: 'Are you sure?'},class: "btn btn-default btn-sm glyphicon glyphicon-trash", title: "Delete" %>
                <% end %>
              </td>
              <td>
                <a href="https://www.google.com/calendar/render?action=TEMPLATE&text=<%=e.title%>&details=<%=e.description%>&location=<%=e.location%>&sf=true&output=xml" target="_blank"><img src="<%= asset_path('gcal.png') %>" title="Add Event to Google Calendar" height="36" width="36"></a>
                <div class="fb-share-button" data-href="<%= event_path(e) %>" data-layout="icon"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= event_path(e) %>" data-text="<%= e.title %>" data-count="none">Tweet</a>
                <a href="<%=event_path(e)%>" onclick="javascript:window.open(this.href, '',
            'menubar=no,toolbar=no,height=600,width=600');return false;"><img src="https://www.gstatic.com/images/icons/gplus-32.png" title="Share on Google+" alt="Share on Google+"></a>
              </td>
            </tr>
          <% end %>
        <% end %>
        </table>
      </div>
    </div>
  </div
