<div class="row">
  <div class="btn-group" role="group" aria-label="FilterButtons">
    <%= link_to 'My Created',events_path(:request_type => 'MyEvents'), class: "btn btn-default" %>
    <%= link_to 'Attending',events_path(:request_type => 'Going'), class: "btn btn-default" %>
    <%= link_to 'Subscribed',events_path(:request_type => 'Subscribed'), class: "btn btn-default" %>
    <%= link_to 'All Events',events_path(:request_type => 'All'), class: "btn btn-default" %>
  </div>
  <hr/>
</div>

<div class="row">
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <%= link_to 'Create',new_event_path, class: "btn btn-default btn-sm" %>
      <br/>
      <br/>
      <table class="table">
        <tr>
          <th>Event</th>
          <th>Date &amp; Time</th>
          <th>Location</th>
          <th></th>
        </tr>
        <% @events.each do |e| %>
          <tr>
            <td><%= e.title %></td>
            <td><%= e.datetime.strftime("%b %dth %Y %I:%M%P") %></td>
            <td><%= e.location %></td>
            <% if e.user_id == current_user.id %> 
            	<td><%= link_to 'Show',event_path(e), class: "btn btn-default btn-sm" %> 
            	<%= link_to 'Edit',edit_event_path(e), class: "btn btn-default btn-sm" %> 
            	<%= link_to 'Delete',event_path(e),method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default btn-sm" %></td>
            <% else %>
		 <td><%= link_to 'Show',event_path(e), class: "btn btn-default btn-sm" %>  </td>
	    <% end %>	
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
